<app-home-header></app-home-header>
<app-home-main-slideshow></app-home-main-slideshow>
<app-home-featured-list></app-home-featured-list>
<app-home-browse-by-category></app-home-browse-by-category>
<app-home-category-item-list categoryName="Top Sellers"></app-home-category-item-list>
<app-home-discount></app-home-discount>
<app-home-featured-category></app-home-featured-category>
<app-home-category-item-list categoryName="Popular New Releases"></app-home-category-item-list>
<app-footer></app-footer>
