<div>
  <div class="global__container">
    <div class="featured__category">
      <div class="featured__category__layout">
        <div class="featured__category__name">
          <div>
            <span>Visual Novel Games</span>
          </div>
        </div>
        <div class="featured__category__items">
          <div class="featured__category__items__list">
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <a routerLink="">See More</a>
          </div>
        </div>
      </div>
      <div class="featured__category__layout">
        <div class="featured__category__name">
          <div>
            <span>Visual Novel Games</span>
          </div>
        </div>
        <div class="featured__category__items">
          <div class="featured__category__items__list">
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <a routerLink="">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

