<div>
  <div class="global__container">
    <div class="footer">
      <hr/>
      <div class="footer__content">
        <div class="footer__copyright">
          <p>This website is a personal project and should be considered a clone or replica of the original website. All
            rights, including intellectual property rights, belong to the original owner of the website which is
            trademarked under the name "Valve Corporation".</p>
          <br/>
          <p>This clone website is created solely for educational and non-commercial purposes, to showcase the software
            development skills
            of one person. No infringement or misuse of any kind is intended.</p>
          <br/>
          <p>If you are the original owner of the website and have any concerns or issues regarding this clone, please
            contact me immediately. You can find links to my social media websites at my GitHub account. I will take
            appropriate action to address your concerns and respect your rights as the rightful owner.</p>
          <br/>
          <p>Thank you for your understanding and cooperation.</p>
        </div>
      </div>
      <div class="footer__social_media">
        <a href="https://github.com/Asterrix">
          <img alt="GitHub icon" height="32" ngSrc="assets/github-mark-white.svg" width="32"/>'
          GitHub
        </a>
      </div>
      <hr/>
    </div>
  </div>
</div>
