.footer {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__copyright {
    color: red;
    text-align: center;
  }

  &__social_media {
    display: flex;
    justify-content: center;
  }
}
