<!-- Mobile Header -->
<ng-container *ngIf="mobileView; else desktopView">
  <header class="header header__mobile">
    <div class="header__content header__content__mobile">
      <div (click)="toggleSidebar()" class="header__menu">
        <img alt="Menu" height="36" ngSrc="assets/header_menu_hamburger.png" width="41"/>
      </div>
      <div class="header__logo">
        <img alt="Logo" height="36" ngSrc="assets/header_logo.png" priority="" width="156"/>
      </div>
    </div>
  </header>

  <ng-template [ngIf]="sidebarOpen">
    <div [@dumbParent]="" class="sidebar">
      <div [@slideRight]="" class="sidebar__container">
        <div class="sidebar__content">
          <a class="sidebar__item" routerLink="">Login</a>
          <a class="sidebar__item" routerLink="">Store</a>
          <a class="sidebar__item" routerLink="">Community</a>
          <a class="sidebar__item" routerLink="">Support</a>
        </div>
        <div class="sidebar__footer">
          <div class="sidebar__logo">
            <img alt="Logo" height="26" ngSrc="assets/logo_valve_footer.png" priority="" width="92">
          </div>
          <p class="sidebar__copyright">
            &copy; Valve Corporation. All rights reserved.
            All trademarks are property of their respective owners in the US and other countries.
          </p>
        </div>
      </div>
      <div (click)="toggleSidebar()"></div>
    </div>
  </ng-template>
</ng-container>
<!-- End Mobile Header -->

<!-- Desktop Header -->
<ng-template #desktopView>
  <header class="header header__desktop">
    <div class="header__container">
      <div class="header__logo">
        <a routerLink="">
          <img alt="" height="40" ngSrc="assets/header_logo.png" width="176"/>
        </a>
      </div>
      <div class="header__content header__content__desktop">
        <a class="content__item" routerLink="">Store</a>
        <a class="content__item" routerLink="">Community</a>
        <a class="content__item" routerLink="">About</a>
        <a class="content__item" routerLink="notice">Notice</a>
      </div>
      <div class="action__menu">
        <a class="action__menu__item" routerLink="">
          <img alt="Install Steam" height="13" ngSrc="assets/btn_header_installsteam_download.png" width="15"/>
          Install Steam
        </a>
        <a class="action__menu__login" routerLink="authentication/login">Login</a>
      </div>
    </div>
  </header>

  <div class="notice" *ngIf="!isUrlMatch('/notice')">
    <a routerLink="notice">Read the Notice!</a>
  </div>
</ng-template>
<!-- End Desktop Header -->
