<div class="authentication">
  <div class="global__container">
    <div class="authentication__content">
      <div>
        <span class="authentication__content__label">Create your account</span>
        <form>
          <div class="authentication__form-box">
            <label class="authentication__form__label">Email Address</label>
            <input type="email" class="authentication__form-input">
          </div>
          <div class="authentication__form-box">
            <label class="authentication__form__label">Confirm your Address</label>
            <input type="email" class="authentication__form-input">
          </div>
          <div class="authentication__form-box">
            <label class="authentication__form__label">Country of Residence</label>
            <select class="authentication__form-input">
              <option>Select a country</option>
              <option>Placeholder</option>
            </select>
          </div>
          <div class="authentication__form-submit__box">
            <input class="authentication__form-submit" type="submit" value="Continue">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
