.slideshow-wrapper {
  display: flex;
  margin-top: -7%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slideshow {
  position: relative;
}

.control-button {
  background: rgba(15, 10, 10, 0.25);
  border: none;
  padding: 2.4rem 1.2rem;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.left-arrow {
  display: none;
  left: 0;
  position: absolute;
  top: 40%;
  transform: translateX(0);
  z-index: 3;

  @media only screen and (min-width: 1024px) {
    display: block;
  }

  @media only screen and (min-width: 1280px) {
    transform: translateX(-100%);
  }
}

.right-arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateX(0);
  z-index: 3;

  @media only screen and (min-width: 1024px) {
    display: block;
  }

  @media only screen and (min-width: 1280px) {
    transform: translateX(100%);
  }
}

.media-scroller {
  display: grid;
  gap: 2.8rem;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior: contain;
  position: relative;

  @media only screen and (min-width: 1024px) {
    gap: 0.8rem;
    justify-content: center;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.capsule {
  position: relative;

  @media only screen and (min-width: 1024px) {
    overflow: hidden;
  }
}

.price-container {
  align-items: center;
  background-color: #2F3138;
  bottom: 5%;
  display: flex;
  position: absolute;
  right: 0;
  z-index: 4;
}

.discount {
  background-color: greenyellow;
  color: black;
  font-weight: 700;
  padding: 0.2rem;
}

.price {
  align-items: center;
  color: white;
  display: flex;
  gap: 0.8rem;
  padding: 0.2rem 0.8rem;
}

.original-price {
  color: grey;
  position: relative;

  &::before {
    background-color: grey;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-12deg);
  }
}

.slideshow-indicators {
  display: none;
  justify-content: center;

  @media only screen and (min-width: 1024px) {
    display: flex;
  }

  div {
    background-color: hsla(202, 60%, 100%, 0.2);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    height: 9px;
    margin: 12px 2px;
    transition: background-color 0.2s;
    width: 15px;
  }
}

.active {
  background-color: hsla(202, 60%, 100%, 0.4) !important;
}

.hover-information {
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr 2fr;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hover-information-container {
  background: linear-gradient(315deg, #213C55 5%, #016968 95%);
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
}

.title {
  color: white;
}

.hovered {
  background-color: #53545A !important;
}
