*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #C6D4DF url("/assets/Steam_Summer_Sale_pattern-04-day_lighter.gif") repeat center top;
  color: #333333;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a, a:visited, a:hover {
  color: #1976D2;
  display: flex;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.global__container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
  width: 100%;
}
