*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #c6d4df;
  background: url("/assets/Steam_Summer_Sale_pattern-04-day_lighter.gif") repeat center top;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a, a:visited, a:hover {
  color: #1976d2;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  display: flex;
}

.global-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
