<div>
  <div class="global__container">
    <div class="discount__section">
      <div class="discount__section__body">
        <span class="discount__section__title">Great Deals</span>
        <div class="item__list">
          <div class="item__list__layout--4">
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
          </div>
        </div>
        <div class="discount__section__footer">
          <p>See more:</p>
          <a routerLink="">Top Sellers</a>
        </div>
      </div>
      <div class="discount__section__body">
        <span class="discount__section__title">Under $10</span>
        <div class="item__list">
          <div class="item__list__layout--4">
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
            <app-item-card-small></app-item-card-small>
          </div>
        </div>
        <div class="discount__section__footer">
          <p>See more:</p>
          <a routerLink="">Under $10</a>
          <a routerLink="">Under $5</a>
        </div>
      </div>
    </div>
  </div>
</div>
