<a class="card" routerLink="">
  <div class="card__media">
    <img alt="" src="https://cdn.akamai.steamstatic.com/steam/apps/1668540/capsule_616x353.jpg?t=1688751562"/>
    <video [autoplay]="true" [loop]=true [muted]="true" height="100%" width="100%">
      <source src="https://cdn.cloudflare.steamstatic.com/steam/apps/256957028/microtrailer.webm?t=1688748963" type="video/webm">
    </video>
  </div>
  <div class="card__info">
    <span class="card__info--discount">-40%</span>
    <p class="card__info--original-price">$59.99</p>
    <p class="card__info--final-price">$35.99</p>
  </div>
</a>
