<div class="featured-list">
  <div class="global-container">
    <div class="featured-list-container">
      <div class="featured-list-layout-4">
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
      </div>
      <div class="featured-list-layout-3">
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
      </div>
      <div class="featured-list-layout-4">
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
      </div>
      <div class="featured-list-layout-3">
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
        <a class="card" routerLink="">
          <div class="media-content">
            <img alt="" src="assets/capsule_616x353.jpg"/>
            <video class="video" [autoplay]="true" [loop] = true [muted]="true" height="100%" width="100%">
              <source src="assets/microtrailer_1.webm" type="video/webm">
            </video>
          </div>
          <div class="card-info">
            <span>-40%</span>
            <p class="original-price">$59.99</p>
            <p class="price">$35.99</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
