:host {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.authentication {
  background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat, url(https://store.akamai.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) center top no-repeat, #181A21;
}

.authentication__content {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  padding-bottom: 9.2rem;
}

.authentication__primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3.2rem;
  width: 100%;

  @media screen and (min-width: 648px) {
    width: 632px;
    text-align: left;
  }
}

.authentication__primary-label {
  color: white;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 400;
}

.authentication__form {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 648px) {
    background-color: #181A21;
    padding: 2.4rem;
  }
}

.authentication__form form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.authentication__form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.authentication__form-checkbox {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.authentication__form-checkbox-label {
  font-size: 1.2rem;
  color: #AFAFAF;
}

.authentication__form-submit__box {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 648px) {
    align-items: center;
  }
}

.authentication__form-submit {
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 12px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  width: 100%;

  @media screen and (min-width: 648px) {
    max-width: 320px;
  }
}

.authentication__form-submit:hover {
  background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

.authentication__form-checkbox-item {
  width: 2rem;
  height: 2rem;
  padding: 3px;
  border-radius: 2px;
  background-color: #32353C;
  cursor: pointer;
}

.authentication__form-label {
  font-size: 1.2rem;
}

.authentication__form-label--account {
  color: #1999FF;
  font-weight: 500;
  text-transform: uppercase;
}

.authentication__form-label--password {
  color: #AFAFAF;
  font-weight: 500;
  text-transform: uppercase;
}

.authentication__form-input {
  border-radius: 2px;
  color: #FFFFFF;
  padding: 10px;
  background-color: #32353C;
  outline: none;
  font-size: 15px;
  border: 1px solid #32353C;
}

.steam {
  display: flex;
  padding: 4.8rem 0;
  background-color: #181A21;
  height: auto;
}

.steam__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 648px) {
    flex-direction: revert;
    text-align: left;
  }
}

.steam__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
}

.steam__join {
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none !important;
  color: #FFFFFF !important;
  display: block;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.4rem 1.2rem;
}

.steam__section-description {
  font-size: 1.4rem;
  color: #B8B6B4;
}

.steam__learn-more {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
}

.steam__image {
  width: 200px;
  height: 136px;
}
