<div class="authentication">
  <div class="global__container">
    <div class="authentication__content">
      <div class="authentication__primary">
        <span class="authentication__primary-label">Sign In</span>
        <div class="authentication__form">
          <form>
            <div class="authentication__form-box">
              <label class="authentication__form-label authentication__form-label--account">Sign In With Account
                Name</label>
              <input class="authentication__form-input" type="text">
            </div>
            <div class="authentication__form-box">
              <label class="authentication__form-label authentication__form-label--password">Password</label>
              <input class="authentication__form-input" type="password">
            </div>
            <div class="authentication__form-checkbox">
              <div class="authentication__form-checkbox-item"></div>
              <span class="authentication__form-checkbox-label">Remember Me</span>
            </div>
            <div class="authentication__form-submit__box">
              <input class="authentication__form-submit" type="submit" value="Sign In">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="steam">
  <div class="global__container">
    <div class="steam__content">
      <div class="steam__section">
        <a class="steam__join" routerLink="">Join Steam</a>
        <p class="steam__section-description">It's free and easy to use.</p>
      </div>
      <img class="steam__image" src="https://store.akamai.steamstatic.com/public/shared/images/login/join_pc.png?v=1"
           alt="Join Steam" width="200" height="136"/>
      <div class="steam__section">
        <p class="steam__section-description">Join Steam and discover<br/> thousands of games to play.</p>
        <a class="steam__learn-more" routerLink="">Learn More</a>
      </div>
    </div>
  </div>
</div>
