<div>
  <div class="global__container">
    <div class="section__container">
      <span class="section__title">{{categoryName}}</span>
      <div class="section__item__list">
        <div class="section__item__list__body">
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
          <app-item-card-small></app-item-card-small>
        </div>
      </div>
      <div class="section__item__list__footer">
        <p>See more:</p>
        <a routerLink="">{{categoryName}}</a>
      </div>
    </div>
  </div>
</div>
