<div class="slideshow__section">
  <div class="global__container">
    <div class="slideshow">

      <!-- Slider Control Buttons -->
      <button (click)="handleSlideshowMovement(Direction.Previous)" class="control__button arrow arrow__left">
        <img alt="" height="40" ngSrc="assets/chevron_left.svg" width="32"/>
      </button>
      <button (click)="handleSlideshowMovement(Direction.Next)" class="control__button arrow arrow__right">
        <img alt="" height="40" ngSrc="assets/chevron_right.svg" width="32"/>
      </button>

      <div class="slideshow__body">
        <div *ngFor="let item of items.slice(slideshowPosition, slideshowPosition + shownItems)"
             class="slideshow__capsule">
          <a (mouseenter)="activeItem = item.id" (mouseleave)="resetActiveItem()"
             (touchend)="resetActiveItem()" (touchstart)="activeItem = item.id"
             routerLink="">
            <img [alt]="item.alt" [ngSrc]="item.imageSrc" height="448" width="374"/>
            <div class="price">
              <p class="price--discount">-20%</p>
              <div class="price__container">
                <p class="price--original">$49,99</p>
                <p class="price--final">$39,99</p>
              </div>
            </div>

            <div [@slideUp]="getHoverInformationState(item.id)" class="detailed__information">
              <video [autoplay]="true" [loop]="true" [muted]="true" height="100%" width="100%">
                <source src="https://cdn.cloudflare.steamstatic.com/steam/apps/256957028/microtrailer.webm?t=1688748963" type="video/webm">
              </video>
              <div class="detailed__information__content">
                <div>
                  <h2 class="detailed__information__content__title">Placeholder</h2>
                  <span class="detailed__information__content__review">Very Positive</span>
                  <div class="detailed__information__content__category">
                    <p *ngFor="let category of item.category" class="detailed__information__content__category-item">
                      {{category}}
                    </p>
                  </div>
                </div>
                <div>
                  <button class="add__to_card__button">
                    <span>Add to Cart</span>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="slideshow__indicators">
        <div (click)="handleSlideshowIndicatorMovement(i)"
             (mouseenter)="hoveredSlideshowPositionIndex=i"
             (mouseleave)="hoveredSlideshowPositionIndex=-1"
             *ngFor="let _ of items.slice(slideshowPosition, slideshowPosition + shownItems); let i = index"
             [ngClass]="{'slideshow__indicators--active' : i === activeSlideshowPositionIndex,
             'slideshow__indicators--hovered': i == hoveredSlideshowPositionIndex}"></div>
      </div>
    </div>
  </div>
</div>
