.slideshow__section {
  display: flex;
  margin-top: -7%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slideshow {
  position: relative;
}

.control__button {
  background: rgba(15, 10, 10, 0.25);
  border: none;
  padding: 2.4rem 1.2rem;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.arrow {
  display: none;
  position: absolute;
  top: 40%;
  transform: translateX(0);
  z-index: 3;

  @media only screen and (min-width: 1024px) {
    display: block;
  }

  &__left {
    left: 0;

    @media only screen and (min-width: 1280px) {
      transform: translateX(-100%);
    }
  }

  &__right {
    right: 0;

    @media only screen and (min-width: 1280px) {
      transform: translateX(100%);
    }
  }
}

.slideshow__body {
  display: grid;
  gap: 2.8rem;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior: contain;
  position: relative;

  @media only screen and (min-width: 1024px) {
    gap: 0.8rem;
    justify-content: center;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.slideshow__capsule {
  overflow-y: clip;
  position: relative;

  @media only screen and (min-width: 1024px) {
    overflow: hidden;
  }
}

.price {
  align-items: center;
  background-color: #2F3138;
  bottom: 5%;
  display: flex;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 3;

  &--discount {
    background-color: greenyellow;
    color: black;
    font-weight: 700;
    padding: 0 0.2rem;
  }

  &__container {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    gap: 0.8rem;
    padding: 0.2rem 0.8rem;
  }

  &--original {
    color: grey;
    position: relative;

    &:before {
      background-color: grey;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-12deg);
    }
  }

  &--final {
    color: white;
  }
}

.detailed__information {
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr 2fr;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.detailed__information__content {
  background: linear-gradient(315deg, #213C55 5%, #016968 95%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.8rem;

  &__title {
    color: white;
  }

  &__review {
    font-size: 1.4rem;
  }
}

.detailed__information__content__category {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.detailed__information__content__category-item {
  background-color: rgba(0, 0, 0, .2);
  color: #C6D4DF;
  font-size: 1.2rem;
  margin-right: 5px;
  margin-top: 5px;
  padding: 3px 5px;
  text-align: center;
}

.add__to_card__button {
  background: #A4D007;
  background: -webkit-linear-gradient(top, #A4D007 5%, #536904 95%);
  background: linear-gradient(to bottom, #A4D007 5%, #536904 95%);
  border: none;
  border-radius: 2px;
  color: white;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 1px;
  text-decoration: none !important;
  z-index: 9;

  span {
    font-size: 15px;
    line-height: 30px;
    padding: 0 15px;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(1.10);
  }
}

.slideshow__indicators {
  display: none;
  justify-content: center;

  @media only screen and (min-width: 1024px) {
    display: flex;
  }

  div {
    background-color: hsla(202, 60%, 100%, 0.2);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    height: 9px;
    margin: 12px 2px;
    transition: background-color 0.2s;
    width: 15px;
  }

  &--active {
    background-color: hsla(202, 60%, 100%, 0.4) !important;
  }

  &--hovered {
    background-color: #53545A !important;
  }
}

