<div>
  <div class="global__container">
    <div class="featured">
      <div class="featured__layout--4">
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
      </div>
      <div class="featured__layout--3">
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
      </div>
      <div class="featured__layout--4">
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
      </div>
      <div class="featured__layout--3">
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
        <app-item-card-small></app-item-card-small>
      </div>
    </div>
  </div>
</div>
